    body {
        background-color: #0000ff;
    }

    .container {
        background-color: #0000ff;
        width: 600px;
        height: 1000px;
    }

  #title {
    margin:0px;
    font-size: 15px;
    text-align: center;
  }
  
  #grid table {
        border: 2px solid #ffffff;
       }
   #grid td {
        border: 1px solid #0000ff;
        text-align: center;
        vertical-align: middle;    
        color: #000000;
        padding: 0;
        border: 0;
        text-align: center;
        width: 37px;
        height: 37px;
        font-size: 8px;
        background-color: #4F7942;
        outline: none;
      }

    #grid table {
        border: none;
      }

#cellinnertd-1,  #cellinnertd-2, #cellinnertd-3,  #cellinnertd-4,  #cellinnertd-5, #cellinnertd-6,  #cellinnertd-7,  #cellinnertd-8,#cellinnertd-9 {
        border: none !important;
        text-align: center !important;
        vertical-align: middle !important;  
        color: #000000 !important;
        padding: 0 !important;
        text-align: center !important;
        width: 8px !important;
        height: 8px !important;
        font-size: 6px !important;
        background-color: #4F7942 !important;
        color: #000000 !important;
        outline: none !important;
      }

      input:disabled {
        background-color: #EEEEEE;
      }
   
#cell-0,  #cell-1,  #cell-2, #cell-3,  #cell-4,  #cell-5, #cell-6,  #cell-7,  #cell-8,
#cell-27, #cell-28, #cell-29, #cell-30, #cell-31, #cell-32, #cell-33, #cell-34, #cell-35,
#cell-54, #cell-55, #cell-56, #cell-57, #cell-58, #cell-59, #cell-60, #cell-61, #cell-62
{ border-top: 2px solid #000000; }

#cell-2, #cell-11, #cell-20 #cell-5, #cell-14, #cell-23, #cell-8,  #cell-17, #cell-26,
#cell-29, #cell-38, #cell-47, #cell-32, #cell-41, #cell-50, #cell-35, #cell-44, #cell-53,
#cell-56, #cell-65, #cell-74, #cell-59, #cell-68, #cell-77, #cell-62, #cell-71, #cell-80 
{ border-right: 2px solid #000000; }

 #cell-18, #cell-19, #cell-20, #cell-21, #cell-22, #cell-23, #cell-24, #cell-25, #cell-26,
 #cell-45, #cell-46, #cell-47, #cell-48, #cell-49, #cell-50, #cell-51, #cell-52, #cell-53,
 #cell-72, #cell-73, #cell-74, #cell-75, #cell-76, #cell-77, #cell-78, #cell-79, #cell-80
{ border-bottom: 2px solid #000000; }

#cell-0,  #cell-9,  #cell-18, #cell-3,  #cell-12, #cell-21, #cell-6,  #cell-15, #cell-24,
#cell-27, #cell-36, #cell-45, #cell-30, #cell-39, #cell-48, #cell-33, #cell-42, #cell-51,
#cell-54, #cell-63, #cell-72, #cell-57, #cell-66, #cell-75, #cell-60, #cell-69, #cell-78
{ border-left: 2px solid #000000; } 

/*#cellinner-0,  #cellinner-9,  #cellinner-18, #cellinner-3,  #cellinner-12, #cellinner-21, #cellinner-6,  #cellinner-15, #cellinner-24,
#cellinner-27, #cellinner-36, #cellinner-45, #cellinner-30, #cellinner-39, #cellinner-48, #cellinner-33, #cellinner-42, #cellinner-51,
#cellinner-54, #cellinner-63, #cellinner-72, #cellinner-57, #cellinner-66, #cellinner-75, #cellinner-60, #cellinner-69, #cellinner-78
*/